language: node_js                                    
node_js:
  - 14
services:
  - docker
before_install:
  # - npm install -g npm
  - docker login -u "$HEROKU_USERNAME" --password=$HEROKU_PASSWORD registry.heroku.com
script:
  # - npm install
  # - npm run build
  - docker build -t cnbilgin/perfanalytics .
  - docker tag cnbilgin/perfanalytics registry.heroku.com/$HEROKU_APPNAME/web 

deploy:
  provider: heroku
  api_key: $HEROKU_PASSWORD
  app: $HEROKU_APPNAME
  on:
    branch: main