.skeleton {
	width: 100%;
	height: 300px;
	border-radius: 10px;
	background-image: linear-gradient(
		90deg,
		#f5f5f5 0px,
		#fff 40px,
		#f5f5f5 80px
	);
	background-size: 600px;
	animation: skeleton-animation linear infinite 1s;
}

.warning {
	width: 100%;
	height: 300px;
	border-radius: 10px;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

@keyframes skeleton-animation {
	0% {
		background-position: -100px 0;
	}
	40%,
	100% {
		background-position: 500px 0;
	}
}
